<a href="/">Lessons</a><div class="method-info">
	<h1>Array.Pop</h1>
	<h2>Insert 5 elements into the array.</h2>
	<div class="user-input">

		<span style="font-family: monospace; font-size: 2.2em; font-style: bold">[</span>

		<span style="font-family: monospace;"><input type="text" id="arrayElement1" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/></span>

		<span style="font-family: monospace; font-size: 1.5em">,</span>

		<span style="font-family: monospace;"><input type="text" id="arrayElement2" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/></span>

		<span style="font-family: monospace; font-size: 1.5em">,</span>


		<span style="font-family: monospace;"><input type="text" id="arrayElement3" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/></span>

		<span style="font-family: monospace; font-size: 1.5em">,</span>
		

		<span style="font-family: monospace;"><input type="text" id="arrayElement4" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/></span>

		<span style="font-family: monospace; font-size: 1.5em">,</span>

		<span style="font-family: monospace;"><input type="text" id="arrayElement5" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/></span>



		<span style="font-family: monospace; font-size: 2.2em; font-style: bold"> ]</span>




		<button type="submit" id="arrayPopButton" class="button">Animate</button>
	</div>
</div>
<div id="bramble"></div>