<a id="lessons" href="/">Lessons</a>
<div class="method-info">
	<h1>For Loop</h1>
	<h2>Insert a starting, ending and increment value for i.</h2>
	<div class="user-input forLoop">

		<div id="forLoop" style="font-family: monospace; font-size: 1.6em; font-style: bold; display: inline"> 
			<div id="forLoopLineOne" style="display: inline">
				<span>for (var i = <input type="text" id="forLoopStart" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/>;       </span>
				<span>i<=          <input type="text" id="forLoopEnd" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/>;         </span>
				<span>i = i +      <input type="text" id="forLoopIncrement" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/>) { </span>
			</div>
			<br/>
		

			<button type="submit" id="forLoopPushButton" class="button buttonForLoop" style="font-size: .45em">Animate</button>
			<span id="forLoopLineTwo" style="font-family: monospace; font-size: 1em; font-style: bold"> newArray.push(i); </span>
			<br/>

			<div id="forLoopLineThree" style="font-family: monospace; font-size: 1em; font-style: bold; display: inline"> }; </div>
		</div>


	</div>
</div>
<div id="bramble2"></div>