<div id="ROOT"><h1>JavaScript Animator</h1>
	<a href="/lessons/stringConcat">String Concatenation: +</a></br>
	<a href="/lessons/arrayPop">Array.pop</a></br>
	<a href="/lessons/forLoopPush">For Loop</a></br>
</div>