<div id="ROOT"><h1>JavaScript Animator</h1></br>
	<a href="/lessons/stringConcat">String Concatenation: +</a></br></br>
	<a href="/lessons/arrayPop">.pop</a></br></br>
	<a href="/lessons/forLoopPush">For Loop</a></br></br>
</div>