<div class="method-info">
	<h1>Numbers</h1>
	<h2>Math.round()</h2>
	<h3>Insert a number that rounds to 5.</h3>

	<span style="font-family: monospace;"> Math.round(<input id="numberMathRound" type="text" onkeypress="this.style.width = ((this.value.length) * 8) + 'em';">)</span>
	<button type="submit" id="numberMathRoundButton">Animate</button>
</div>

<div id="bramble"></div>