<a id="lessons" href="/">Back to Lessons</a>
<div class="method-info">
	<h1>String <span style="color: red;">+</span> Concatenation</h1>
	<h2>Insert two strings to concatenate.</h2>
	<div class="user-input">
		<span style="font-family: monospace;">"<input type="text" id="stringConcat1" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/>"</span>

		<span style="font-family: monospace; color: red;">+</span>

		<span style="font-family: monospace;">"<input type="text" id="stringConcat2" onkeypress="this.style.width = ((this.value.length) * .6 + 1 ) + 'em';"/>"</span>
		<button type="submit" id="stringConcatButton" class="button">Animate</button>
	</div>
</div>
<div id="bramble"></div>